In [8]:
letters = 'python'
print(letters[0:4:2])

pt

In [9]:
license_plate = "24가 2210"
print(license_plate[3:])

 2210

In [10]:
string = "홀짝홀짝홀짝"
print(string[0:5:2])

홀홀홀

In [16]:
string = "PYTHON"
print(string[: :-1])

NOHTYP

In [23]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-","")
print(phone_number1)

01011112222

In [26]:
phone_number = "010-1111-2222"
phone_number2 = phone_number.replace('-','')
print(phone_number1)

01011112222

In [18]:
url = "http://sharebook.kr"

print(url[-2:])

kr

In [25]:
string = 'abcdfe2a354a32a'
string = string.replace('a','A')
print(string)

Abcdfe2A354A32A

In [ ]:
aBcd

In [28]:
a = "3"
b = "4"
print(a + b)

34

In [29]:
a = 3
b = 4
print(a + b)

7

In [35]:
t1 = 'python'
t2 = 'java'
print((t1+t2)*3)

pythonjavapythonjavapythonjava

In [57]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이 :%d" %(name1,age1))

이름: 김민수 나이 :10

In [60]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름:{name1} 나이:{age1} 이름:{name2} 나이:{age2}')

이름:김민수 나이:10 이름:이철희 나이:13

In [75]:
상장주식수 = "5,969,782,550"
상장주식수.replace(",","")
a= int(상장주식수.replace(",",""))
type(a)

int

In [82]:
data = "   삼성전자    "

data.replace(" ","")

'삼성전자'

In [ ]:
nums = [1, 2, 3, 4, 5]

for i in nums:
    i+=
prit

In [5]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,b,*vaild_score =scores
print(vaild_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [5]:
name = ['gorani', 'kang', 'strong', 'KCM']
age = [30, 32, 26, 28]
birthday = ['1993-03-26', '1995-04-15', '1997-01-14', '1991-06-18']

NameError: name 'true' is not defined

In [12]:
age.sort(reverse=True)
x = list(zip(age,birthday))

In [13]:
team = dict(zip(name,x))

In [14]:
team

{'gorani': (32, '1993-03-26'),
 'kang': (30, '1995-04-15'),
 'strong': (28, '1997-01-14'),
 'KCM': (26, '1991-06-18')}